@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

div#header {
  padding: $base-spacing;
}

.header {
  display: inline-block;
}

section {
  @include outer-container;
}

h1#question {
  font-size: 2em;
  text-align: center;
}

form#answer {
  @include shift(4);
  @include span-columns(5);
}
